# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import cudf.pandas
import pandas as pd

cudf.pandas.install()
pd.set_option("display.max_colwidth", None)

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
df = pd.read_csv("jeopardy.csv")
df.columns = df.columns.str.strip()
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [3]:
def filter_dataset(words_list: list[str], original_dataframe: pd.DataFrame) -> pd.DataFrame:
    """Filter dataset based on words list."""
    pattern = r"\b(?:" + "|".join(words_list) + r")\b"
    return original_dataframe[original_dataframe.Question.str.contains(pattern, case=False)]

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
filter_dataset(["Yuma County"], df)
filter_dataset(["small Rubber baLL"], df)
filter_dataset(["King"], df)

,Show Number,Air Date,Round,Category,Value,Question,Answer
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_26.mp3"">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>",Yertle
50,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$2000,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_24.mp3"">""500 Hats""... 500 ways to die. On July 4th, this young boy will defy a king... & become a legend</a>",Bartholomew Cubbins
399,2825,1996-12-06,Double Jeopardy!,POETS,$400,"Between 1842 & 1885, he repeatedly revised his ""Idylls of the King""",Alfred Lord Tennyson
545,3036,1997-11-10,Jeopardy!,ON THE RADIO,$200,"Robin Quivers is the radio consort of this self-proclaimed ""King of All Media""",Howard Stern
781,4335,2003-06-06,Jeopardy!,MY PLACE?,$200,"A Norman could say, ""I'm the king of the motte-and-bailey style of"" this",castle
...,...,...,...,...,...,...,...
216612,2046,1993-06-28,Double Jeopardy!,BIBLICAL PEOPLE,$600,Her 2 husbands were Uriah the Hittite & David the king,Bathsheba
216675,3940,2001-10-19,Double Jeopardy!,"""CAB""",$600,"Stephen King's 1980 overview of the horror genre was called ""Danse"" this",Macabre
216752,5070,2006-09-29,Jeopardy!,SIGNING OFF,$200,"Upon signing his name in 1776 he said, ""There, King George will be able to read that without his spectacles""",(John) Hancock
216777,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$400,The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps,a pyramid (the pyramids accepted)
216787,5070,2006-09-29,Double Jeopardy!,TALES OF E.T.A. HOFFMANN,"$2,000","A Hoffmann tale title lost the words ""And The Mouse King"" when it became this Tchaikovsky ballet",The Nutcracker

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
def _transform_string_value_to_float(val: str) -> float:
    if val == "":
        return 0

    if val and val[0] == "$":
        return float(val[1:].replace(",", "_"))
    return None


df["Value"] = df.Value.apply(_transform_string_value_to_float)
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [6]:
def _count_unique_answers(df: pd.DataFrame) -> int:
    return df.Answer.nunique()


_count_unique_answers(filter_dataset(["McDonald", "Burger"], df))
filter_dataset(["McDonald", "burger"], df)

,Show Number,Air Date,Round,Category,Value,Question,Answer
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
2577,4220,2002-12-27,Jeopardy!,NATIONAL FOODS,600.0,This cured meat is in the classic McDonald's Egg McMuffin,Canadian bacon
3957,5996,2010-10-11,Jeopardy!,SECRET MENUS,400.0,"Wendy's will make you a grand slam burger with this many patties, but don't tell everyone",four
3969,5996,2010-10-11,Jeopardy!,SECRET MENUS,800.0,"Fatburger offers a ""Hypocrite Burger"" featuring this type of patty with slabs of bacon",veggie patty
6828,5363,2007-12-26,Jeopardy!,GAMES PEOPLE PLAY,800.0,"Jordan & Bird hit ""nothing but net"" playing this shot-for-shot basketball game in 1990s TV ads for McDonald's",HORSE
...,...,...,...,...,...,...,...
203486,6256,2011-11-28,Jeopardy!,THE MIDDLE AGES,200.0,"In 1955, 52-year-old Ray Kroc opened his first burger joint in the chain called not Kroc's but this",McDonald's
204386,5712,2009-06-09,Jeopardy!,2 FIRST NAMES?,200.0,"The original Ronald McDonald, today you know him better as the ""Today"" show's weather reporter",Willard Scott
204608,5830,2010-01-08,Double Jeopardy!,"""NIGHT"" SHIFT",1200.0,Warren Burger got his law degree at one of these & rose to be Chief Justice of the United States,a night school
209864,1164,1989-09-28,Double Jeopardy!,PEOPLE,200.0,"""Today"" Show weatherman Willard Scott was the 1st to play this clown for McDonald's",Ronald McDonald
214780,2907,1997-04-01,Double Jeopardy!,"""FOOL""ISH SONGS",1000.0,Michael McDonald co-wrote this 1979 Doobie Brothers hit with Kenny Loggins,"""What A Fool Believes"""

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

1. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?

In [7]:
def _generate_decade(year: int) -> str:
    if year < 0:
        raise ValueError("Year must be a positive integer")

    decade = (year // 10) * 10
    if decade < 2000:
        return f"{decade % 100}'s"
    else:
        return f"{decade}s"

In [12]:
df["Air Decade"] = df["Air Date"].apply(lambda x: _generate_decade(int(x.split("-")[0])))
questions_with_computer = filter_dataset(["computer"], df)
questions_with_computer.groupby("Air Decade").Question.count().sort_index()

Air Decade
2000s    227
2010s     51
80's       5
90's      79
Name: Question, dtype: int64

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.